<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
    <link type="text/css" rel="stylesheet" href="/css/materialize_0_100_2.css">
    <link type="text/css" rel="stylesheet" href="/css/animate.css">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
<div class="container">

    <div class="row">
        <div class="col l5 push-l1">
            <h1><%= title %></h1>
            <p>Get your nearest store location</p>
            <br>
            <form method="post" action="/get-store">
                <div class="input-field">
                    <input name="location_name" id="location_name" type="text" class="validate">
                    <label for="location_name">Enter Location</label>
                </div>
                <button type="submit" class="btn-large blue">SUBMIT</button>
            </form>
        </div>
    </div>


</div>
</body>
<script type="text/javascript" src="/javascripts/jquery.js"></script>
<script type="text/javascript" src="/javascripts/materialize_0_100_2_min.js"></script>
</html>
